body,html{padding:0;margin:0}a{text-decoration:none}*{box-sizing:border-box}.markdown{font-family:Roboto,Helvetica,Arial,sans-serif}.markdown img{max-width:100%;box-shadow:0 0 3px gray;border:12px solid #fff}em{color:red}